%custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #3E4D5F;
    border-radius: 100px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #151D26;
    border-radius: 100px;
  }
}