//font size
$fs1: 10px;
$fs2: 12px;
$fs3: 14px;
$fs4: 16px;
$fs5: 28px;
$fs6: 32px;
$fs7: 50px;


//transitions
$transition-default: all 200ms linear;
$transition-menu: all 250ms ease-out;


//font family
$font-base: 'Rubik';
$line-height-default: 1.2;


//blogs
$nav-width: 216px;
$nav-width-tablet: 200px;
$live-width: 320px;
$live-width-tablet: 270px;
$main-width: 1162px;
$header-height: 96px;
$header-height-mob: 56px;

$block-padding: 16px;
$block-padding-mob: 24px;

$br-1: 100px;
$br-2: 8px;


// colors
$white: #fff;
$black: #000;
$color1: #010E28;
$color2: #3BBBE9;
$color3: #FF1967;
$color4: #718792;
$color5: #DDDDDD;